<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="x3">
      <section name="interface" type="X3Store.Configurations.Sections.Interface" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mainDB" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|x3db.mdf;Database=x3DB;Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" loginUrl="/Credentials/Login.aspx"/>
    </authentication>
    <membership defaultProvider="x3SqlMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="x3SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="mainDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="13" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="false" cookieName="x3Store" defaultProvider="x3SqlRoleProvider">
      <providers>
        <add name="x3SqlRoleProvider" connectionStringName="mainDB" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <anonymousIdentification cookieless="AutoDetect" enabled="true"/>
    <profile defaultProvider="x3SqlProfileProvider">
      <providers>
        <add name="x3SqlProfileProvider" connectionStringName="mainDB" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FullName" type="String"/>
        <add name="Gender" type="String"/>
        <group name="Address">
          <add name="Street" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="Country" type="String"/>
          <add name="PostalCode" type="String"/>
        </group>
        <add name="Phone" type="String"/>
        <add name="BasketS" type="String"/>
      </properties>
    </profile>
    <machineKey decryptionKey="A70038D169D02E3F5B75D3AF475E884AD4626F301C35C3D2,IsolateApps" validation="SHA1" validationKey="FBEA6FFA606AB11E8153F10395CDAB882AF19470B0512A41575D7CF387F0E3327A5AB863CAD70B38005240A9A16CB2D7039B68593724FBB5AB4796DC5F839868,IsolateApps"/>
    <siteMap defaultProvider="x3SiteMapProvider" enabled="true">
      <providers>
        <add name="x3SiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" securityTrimmingEnabled="true" siteMapFile="~/Web.sitemap"/>
      </providers>
    </siteMap>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <healthMonitoring heartbeatInterval="10800">
      <providers>
        <remove name="SqlWebEventProvider"/>
        <add connectionStringName="LocalSqlServer" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Notification" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <eventMappings>
        <add name="X3 Events" type="X3Store.Logger.WebCustomEvent, Logger, Version=1.0.0.0, Culture=neutral"/>
      </eventMappings>
      <rules>
        <clear/>
        <!--        <add name="X3 Events" eventName="X3 event" provider="SqlWebEventProvider" profile="Critical"/>-->
        <add name="All Errors" eventName="All Errors" provider="SqlWebEventProvider" profile="Critical"/>
        <add name="Failure Audits" eventName="Failure Audits" provider="SqlWebEventProvider" profile="Critical"/>
        <add name="Heartbeats" eventName="Heartbeats" provider="SqlWebEventProvider" profile="Critical"/>
      </rules>
    </healthMonitoring>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="PasswordRecovery@x3.com"/>
    </mailSettings>
  </system.net>
  <location path="Administration">
    <system.web>
      <authorization>
        <allow roles="Emperor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <x3>
    <interface siteTitle="X3 Store">
      <contactForm to="akimovin@gmail.com" subject="Contact me: {0}"/>
    </interface>
  </x3>
</configuration>